//- .divider.hide-on-med-and-down
//- footer.page-footer.white.hide-on-med-and-down
//- .divider
footer.page-footer.teal
    .container
        .row
            .col.s12.l6
                h5.header.light Rainbow Creations
                p.light.no-margin Nagpur
                p.light.no-margin Phone: #[a.white-text.strong(href="tel:+91 84478 61937") +91 84478 61937], #[a.white-text.strong(href="tel:+91 72086 75766") +91 72086 75766]
                p.light.no-margin Email: #[a.white-text.strong(href="mailto:mailing.rainbowcreations@gmail.com") mailing.rainbowcreations@gmail.com]
            .col.s6.l3
                //- h5.light Links
                ul
                    li
                        a.teal-text.text-lighten-4(href="/") Home
                    li
                        a.teal-text.text-lighten-4(href="/#testimonials") Testimonials
                    li
                        a.teal-text.text-lighten-4(href="/press") Press
                    li
                        a.teal-text.text-lighten-4(href="/contact") Contact
                    li
                        a.teal-text.text-lighten-4(href="/login") Login

            .col.s6.l3    
                ul
                    li
                        a.teal-text.text-lighten-4(href="/artwork/wall-art") Wall Art
                    li
                        a.teal-text.text-lighten-4(href="/artwork/canvas-painting") Canvas Paintings
                    li
                        a.teal-text.text-lighten-4(href="/artwork/illustration") Illustrations
                    li
                        a.teal-text.text-lighten-4(href="/artwork/line-art") Line Art
                    li
                        a.teal-text.text-lighten-4(href="/artwork/gift") Personalized Gifts

    .footer-copyright.orange.lighten-1
        .container.center &copy 2019 Rainbow Creations. 
            a(href="http://root-kings.github.io") Designed by Root.
