.navbar-fixed
    nav.white.z-depth-0
        .nav-wrapper
            a.teal-text(data-target="slide-out" href="#").sidenav-trigger
                i.material-icons menu
            a.teal-text.brand-logo(href="/")
                img(src="/images/logo-rainbow.png", alt="")

            ul.right.hide-on-med-and-down
                li
                    a.teal-text(href="/story") Story

                li
                    a.teal-text(href="/products") Products

                li
                    a.teal-text(href="/services") Services

                li
                    a.teal-text(href="/portfolio") Portfolio

                li
                    a.teal-text(href="/events") Events

                li
                    a.teal-text(href="/contact") Contact


ul#slide-out.sidenav
    //- li
        a(href="/") Home
            //- i.material-icons.left home

    li
        a.teal-text(href="/story") Story

    li
        a.teal-text(href="/products") Products

    li
        a.teal-text(href="/services") Services

    li
        a.teal-text(href="/portfolio") Portfolio

    li
        a.teal-text(href="/events") Events

    li
        a.teal-text(href="/contact") Contact
    
