ul#portfolio-dropdown.dropdown-content
    li
        a.brown-text(href="/portfolio#wall-art") Wall Art
    li
        a.brown-text(href="/portfolio#canvas-painting") Canvas Paintings
    li
        a.brown-text(href="/portfolio#illustration") Illustrations
    li
        a.brown-text(href="/portfolio#line-art") Line Art

.navbar-fixed
    //- nav.white.z-depth-0
    nav.white
        .nav-wrapper
            a.brown-text(data-target="slide-out" href="#").sidenav-trigger
                i.material-icons menu
            a.brown-text.brand-logo(href="/")
                img(src="/images/logo-rainbow.png", alt="")

            ul.right.hide-on-med-and-down
                li
                    a.brown-text(href="/") Story

                //- li
                    a.brown-text(href="/portfolio") Portfolio

                li
                    a.dropdown-trigger.brown-text(href="#!", data-target="portfolio-dropdown") Portfolio
                        i.material-icons.right arrow_drop_down

                li
                    a.brown-text(href="/products") Products

                li
                    a.brown-text(href="/services") Services

                li
                    a.brown-text(href="/events") Events

                li
                    a.brown-text(href="/contact") Contact

                //- li
                    a.brown-text(href="/about") About




ul#slide-out.sidenav
    //- li
        a(href="/") Home
            //- i.material-icons.left home

    li
        a.brown-text(href="/") Story

    li
        a.brown-text(href="/portfolio") Portfolio

    //- li
        a.dropdown-trigger.brown-text(href="#!", data-target="portfolio-dropdown") Portfolio
            i.material-icons.right arrow_drop_down
    
    li
        a.brown-text(href="/products") Products

    li
        a.brown-text(href="/services") Services

    li
        a.brown-text(href="/events") Events

    li
        a.brown-text(href="/contact") Contact

