extends components/layout.pug

block styles


block content
    h4.center 
        |We believe that Art is in every 
        br
        |HeArt
    h2.center(style='color:rgb(143, 227, 217);')
        b MEET OUR TEAM
    h6.center 
        |We create Artworks to shape stories, thoughts, desires, purpose into aesthetic expressions. 
        br
        |Our expertise consists of Murals (Wall Art) and Canvas Paintings, while we also execute other creations with same proficiency.
        br 
        |We provide customized and personalized solutions for all your creative requirements.

block scripts