extends components/layout.pug

block styles

block content
    h3.light.brown-text.center.edo Artworks
    section#wall-art
        h4.light.brown-text.center.edo Wall Art
        //- h6.light.brown-text.center Category 1
        .portfolio-list    
        
            .portfolio-list-item
                img(src="/images/wall-art/01.jpg", alt="")
            .portfolio-list-item
                img(src="/images/wall-art/02.jpg", alt="")
            .portfolio-list-item
                img(src="/images/wall-art/03.jpg", alt="")
            .portfolio-list-item
                img(src="/images/wall-art/04.jpg", alt="")
            .portfolio-list-item
                img(src="/images/wall-art/05.jpg", alt="")
    
        

    
    .divider.margined-top-comfortable.margined-bottom-comfortable

    section#canvas-painting
        h4.light.brown-text.center.edo Canvas Paintings
        //- h6.light.brown-text.center Category 2
        .portfolio-list    
        
            .portfolio-list-item
                img(src="/images/canvas-painting/01.png", alt="")
            .portfolio-list-item
                img(src="/images/canvas-painting/02.png", alt="")
            .portfolio-list-item
                img(src="/images/canvas-painting/03.png", alt="")
            .portfolio-list-item
                img(src="/images/canvas-painting/04.png", alt="")
            .portfolio-list-item
                img(src="/images/canvas-painting/05.png", alt="")
    
    .divider.margined-top-comfortable.margined-bottom-comfortable

    section#illustration
        h4.light.brown-text.center.edo Illustrations
        //- h6.light.brown-text.center Category 2
        .portfolio-list    
        
            .portfolio-list-item
                img(src="/images/canvas-painting/01.png", alt="")
            .portfolio-list-item
                img(src="/images/canvas-painting/02.png", alt="")
            .portfolio-list-item
                img(src="/images/canvas-painting/03.png", alt="")
            .portfolio-list-item
                img(src="/images/canvas-painting/04.png", alt="")
            .portfolio-list-item
                img(src="/images/canvas-painting/05.png", alt="")
    
    .divider.margined-top-comfortable.margined-bottom-comfortable

    section#line-art
        h4.light.brown-text.center.edo Line Drawings
        //- h6.light.brown-text.center Category 2
        .portfolio-list    
        
            .portfolio-list-item
                img(src="/images/canvas-painting/01.png", alt="")
            .portfolio-list-item
                img(src="/images/canvas-painting/02.png", alt="")
            .portfolio-list-item
                img(src="/images/canvas-painting/03.png", alt="")
            .portfolio-list-item
                img(src="/images/canvas-painting/04.png", alt="")
            .portfolio-list-item
                img(src="/images/canvas-painting/05.png", alt="")
    
    .divider.margined-top-comfortable.margined-bottom-comfortable

    section#gift
        h4.light.brown-text.center.edo Personalised Gifts
        //- h6.light.brown-text.center Category 2
        .portfolio-list    
        
            .portfolio-list-item
                img(src="/images/canvas-painting/01.png", alt="")
            .portfolio-list-item
                img(src="/images/canvas-painting/02.png", alt="")
            .portfolio-list-item
                img(src="/images/canvas-painting/03.png", alt="")
            .portfolio-list-item
                img(src="/images/canvas-painting/04.png", alt="")
            .portfolio-list-item
                img(src="/images/canvas-painting/05.png", alt="")


block scripts
