extends components/layout.pug

block styles

block content
    h3.light.brown-text.center Artworks
    section#wall-art
        h4.light.brown-text.center Wall Art
        //- h6.light.brown-text.center Category 1
        .portfolio-list    
        
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/wall-art/01.jpg", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/wall-art/02.jpg", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/wall-art/03.jpg", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/wall-art/04.jpg", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/wall-art/05.jpg", alt="")
    
        

    
    .divider.margined-top-comfortable.margined-bottom-comfortable

    section#canvas-painting
        h4.light.brown-text.center Canvas Paintings
        //- h6.light.brown-text.center Category 2
        .portfolio-list    
        
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/canvas-painting/01.png", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/canvas-painting/02.png", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/canvas-painting/03.png", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/canvas-painting/04.png", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/canvas-painting/05.png", alt="")
    
    .divider.margined-top-comfortable.margined-bottom-comfortable

    section#illustration
        h4.light.brown-text.center Illustrations
        //- h6.light.brown-text.center Category 2
        .portfolio-list    
        
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/canvas-painting/01.png", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/canvas-painting/02.png", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/canvas-painting/03.png", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/canvas-painting/04.png", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/canvas-painting/05.png", alt="")
    
    .divider.margined-top-comfortable.margined-bottom-comfortable

    section#line-art
        h4.light.brown-text.center Line Drawings
        //- h6.light.brown-text.center Category 2
        .portfolio-list    
        
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/canvas-painting/01.png", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/canvas-painting/02.png", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/canvas-painting/03.png", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/canvas-painting/04.png", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/canvas-painting/05.png", alt="")
    
    .divider.margined-top-comfortable.margined-bottom-comfortable

    section#gift
        h4.light.brown-text.center Personalised Gifts
        //- h6.light.brown-text.center Category 2
        .portfolio-list    
        
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/canvas-painting/01.png", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/canvas-painting/02.png", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/canvas-painting/03.png", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/canvas-painting/04.png", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/canvas-painting/05.png", alt="")


block scripts
