extends components/layout.pug

block styles

block content
    section
        h3.light.center.edo Get in touch

        .row
            .col.s10.offset-s1.m5.offset-m1
                div
                    //- img.full-width(src="/images/office.jpg", alt="")

                    p.flow-text.light.pink-text.text-accent-4
                        br
                        | Interested in getting something like this done? 
                        br
                        | Please do get in touch!

            .col.s10.offset-s1.m5
                .padded-compact
                    if submitted
                        br
                        br
                        br
                        h5.light.center Thank you for contacting us! We'll get in touch with you soon!
                        br
                        br
                        br
                    else
                        form#contactform.row(action="contact", method='post')
                            //- .col.s12
                            //-     h4.light.brown-text.center Get in touch
                            .input-field.col.s6
                                input#firstname(type="text" name="firstname")
                                label(for="firstname") First Name
                            .input-field.col.s6
                                input#latname(type="text" name="lastname")
                                label(for="lastname") Last Name
                            .input-field.col.s6
                                input#email(type="email" name="email")
                                label(for="email") Email
                            .input-field.col.s6
                                input#phone(type="text" name="phone")
                                label(for="phone") Phone
                            .input-field.col.s12
                                input#subject(type="text" name="subject")
                                label(for="subject") Subject
                            .input-field.col.s12
                                textarea#message.materialize-textarea(name="message")
                                label(for="message") Message
                            .col.s12
                                a.btn.rainbow-blue(href="javascript:document.getElementById('contactform').submit()") Submit
                                    i.material-icons.right send

    .divider

    section.container
        .row
            //- .col.s12
                h4.light.brown-text.center Work with Us
            //- .col.s12.m6
                p.flow-text.light We’re always looking for interesting collaborations and people to work with. Drop us a short brief about yourself and your work at the email below. We will get in touch with you!
            .col.s12.m6                
                p.flow-text.light
                    span.strong Address
                    br 
                    | 155, Dhadiwal Layout
                    br
                    | Saket Nagar, Near Shatabdi Square
                    br
                    | Ring Road, Nagpur - 440027


            .col.s12.m6
                p.flow-text.light 
                    span.strong Email  
                    a(href="mailto:mailing.rainbowcreations@gmail.com") mailing.rainbowcreations@gmail.com

                p.flow-text.light
                    span.strong Phone
                    br  
                    a(href="tel:+917208675766") Priyanka Patil: +91 72086 75766 
                    br
                    a(href="tel:+918447861937 ") Rohan Patil: +91 84478 61937  

    section#map
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3722.1447888366665!2d79.08285631493396!3d21.106792985956126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjHCsDA2JzI0LjUiTiA3OcKwMDUnMDYuMiJF!5e0!3m2!1sen!2sin!4v1561720222980!5m2!1sen!2sin', width='100%', height='400px' ,frameborder='none')


block scripts
