extends components/layout.pug

block styles

block content
    section
        .row
            //- .col.s12
                h4.light.brown-text.center Get in touch

            .col.s12.m6
                div
                    img.full-width(src="/images/office.jpg", alt="")
            .col.s12.m6
                .padded-compact
                    form#contactform.row(action="#!")
                        .col.s12
                            h4.light.brown-text.center Get in touch
                        .input-field.col.s6
                            input#firstname(type="text" name="firstname")
                            label(for="firstname") First Name
                        .input-field.col.s6
                            input#latname(type="text" name="lastname")
                            label(for="lastname") Last Name
                        .input-field.col.s6
                            input#email(type="email" name="email")
                            label(for="email") Email
                        .input-field.col.s6
                            input#phone(type="text" name="phone")
                            label(for="phone") Phone
                        .input-field.col.s12
                            input#subject(type="text" name="subject")
                            label(for="subject") Subject
                        .input-field.col.s12
                            textarea#message.materialize-textarea(name="message")
                            label(for="message") Message
                        .col.s12
                            a.btn(href="#") Submit
                                i.material-icons.right send
    
    .divider

    section.container
        .row
            .col.s12
                h4.light.brown-text.center Work with Us
            .col.s12.m6
                p.flow-text.light We’re always looking for interesting collaborations and people to work with. Drop us a short brief about yourself and your work at the email below. We will get in touch with you!
            .col.s12.m6
                //- p.flow-text.light 
                    span.strong Email  
                    a(href="mailto:") someemail@some.com
                p.flow-text.light
                    span.strong Phone
                    br  
                    a(href="tel:+917208675766") Priyanka Patil: +91 72086 75766 
                    br
                    a(href="tel:+918447861937 ") Rohan Patil: +91 84478 61937  
                p.flow-text.light
                    span.strong Address
                    br 
                    | 155, Dhadiwal Layout
                    br
                    | Saket Nagar, Near Shatabdi Square
                    br
                    | Ring Road, Nagpur - 440027

block scripts
