extends components/layout.pug

block styles

block content
    section.container
        h3.light.brown-text.center Dashboard

        .row
            //- .col.s9
            .col.s12

                h4.light#projects Projects
                .collection
                    a.collection-item(href="#!") Project
                    a.collection-item(href="#!") Project
                    a.collection-item(href="#!") Project
                    a.collection-item(href="#!") Project



                
                h4.light#products Products
                .collection
                    a.collection-item(href="#!") Product
                    a.collection-item(href="#!") Product
                    a.collection-item(href="#!") Product
                    a.collection-item(href="#!") Product



                
                h4.light#events Events
                .collection
                    a.collection-item(href="#!") Event
                    a.collection-item(href="#!") Event
                    a.collection-item(href="#!") Event
                    a.collection-item(href="#!") Event


            //- .col.s3
                h4.light#events Menu
                .collection
                    a.collection-item(href="#projects") Projects
                    a.collection-item(href="#products") Products
                    a.collection-item(href="#events") Events

        


block scripts
    
