extends components/layout.pug

block styles

block content
    h3.center Events
          style.
            body
            {
            background:url('https://s-media-cache-ak0.pinimg.com/736x/f4/ac/6a/f4ac6aac3afb587f6cae04155656fca3.jpg');
            }
            
    


block scripts
