extends components/layout.pug

block styles

block content
    section
        .parallax-container.valign-wrapper(style="height:90vh")
            .parallax
                img.dark.hide(src="/images/wall-art/01.jpg")

            .container.center
                img(src="/images/g31.png", alt="", style="max-width:85vmin")
                h5.regular.center.roboto-narrow Wall Art(Murals) | Canvas Paintings | Illustrations | Line Drawings | Personalized Gifts
                //- p.center
                    i.material-icons.padded-top-compact.animated.infinite.slideOutDown.delay-2s keyboard_arrow_down

    .divider.brown.lighten-4    

    

    section.padded-top-cozy.padded-bottom-cozy

        h2.center.light.brown-text.margined-bottom-comfortable Artworks

        .row       
            .col.s12.m6.l4.no-padding
                a(href="/artwork#wall-art")
                    .card.no-margin.z-depth-0.hoverable
                        .card-image.waves-effect.waves-block.waves-light
                            img(src='/images/homepage/wall-art.jpg')
                        .card-content
                            span.card-title.brown-text.text-darken-4 Wall Art

            .col.s12.m6.l4.no-padding
                a(href="/artwork#canvas-painting")
                    .card.no-margin.z-depth-0.hoverable
                        .card-image.waves-effect.waves-block.waves-light
                            img(src='/images/homepage/canvas-painting.jpg')
                        .card-content
                            span.card-title.brown-text.text-darken-4 Canvas Paintings

            .col.s12.m6.l4.no-padding
                a(href="/artwork#illustration")
                    .card.no-margin.z-depth-0.hoverable
                        .card-image.waves-effect.waves-block.waves-light
                            img(src='/images/homepage/illustration.jpg')
                        .card-content
                            span.card-title.brown-text.text-darken-4 Illustrations


            .col.s12.m6.l4.no-padding
                a(href="/artwork#line-art")
                    .card.no-margin.z-depth-0.hoverable
                        .card-image.waves-effect.waves-block.waves-light
                            img(src='/images/homepage/line-art.jpg')
                        .card-content
                            span.card-title.brown-text.text-darken-4 Line Drawings

            .col.s12.m6.l4.no-padding
                a(href="/artwork#gift")
                    .card.no-margin.z-depth-0.hoverable
                        .card-image.waves-effect.waves-block.waves-light
                            img(src='/images/homepage/gift.jpg')
                        .card-content
                            span.card-title.brown-text.text-darken-4 Personalized Gifts

            .col.s12.m6.l4.no-padding
                a(href="/contact")
                    .card.no-margin.z-depth-0.hoverable
                        .card-image.waves-effect.waves-block.waves-light
                            img(src='/images/homepage/contact.jpg')
                        .card-content
                            span.card-title.brown-text.text-darken-4 Contact Us


    section.container#story.padded-top-comfortable.padded-bottom-cozy
        h2.center.light.brown-text Story

        p.center.flow-text.light We are a Team which brings together Alumni of Sir J J School of Art, Mumbai and Indian Institute of Science, Bangalore. Driven by our passion, we believe in doing our best to make stuff around us more creative and colorful! 
        p.center.flow-text.light We create Artworks to shape stories, thoughts, desires, purpose into aesthetic expressions. Our expertise consists of Murals (Wall Art) and Canvas Paintings, while we also execute other creations with same proficiency. We provide customized and personalized solutions for all your creative requirements.
        p.center.flow-text.light We believe that Art is in every HeArt, and this belief keeps us going! We are always happy to help and add colors to life! 

    
    section
        .parallax-container.valign-wrapper
            .parallax
                img(src="/images/wall-art/05.jpg")
                //- img.dark(src="/images/wall-art/05.jpg")
                //- .container.center
                    h4.light.center.white-text Fine art is that in which the hand, the head, and the heart of man go together.
                    h5.light.center.white-text John Ruskin

    
    //- section
        .parallax-container.valign-wrapper
            .parallax
                img.dark(src="/images/wall-art/03.jpg")
            .container.center
                h4.light.center.white-text What art offers is space: a certain breathing room for the spirit.
                h5.light.center.white-text John Updike



    //- section.container.padded-top-cozy.padded-bottom-cozy
        h2.center.light.brown-text Testimonials








block scripts
    //- script(src="/js/lib/particles.min.js")
    script(src="/js/init/story.js")
