extends components/layout.pug

block styles

block content
    section
        .parallax-container.valign-wrapper(style="height:90vh")
            .parallax
                img.dark.hide(src="/images/wall-art/01.jpg")

            .container.center
                img(src="/images/g31.png", alt="", style="max-width:85vmin")
                h6.regular.center.roboto-narrow(style="color: #e44988") Wall Art(Murals) | Canvas Paintings | Illustrations | Line Art | Personalized Gifts
                //- p.center
                    i.material-icons.padded-top-compact.animated.infinite.slideOutDown.delay-2s keyboard_arrow_down

    //- .divider.brown.lighten-4    



    section.padded-bottom-cozy

        h3.center.light.margined-bottom-comfortable.edo Artworks

        .row.artmenu       
            .col.s12.m6.l4.no-padding.artmenuitem
                a(href="/artwork/wall-art")
                    .card.margin-tiny.hoverable
                        .card-image
                            img.dark(src='/images/homepage/wall-art.jpg')
                            span.card-title.shadow-text Wall Art
                        //- .card-content
                            span.card-title.brown-text.text-darken-4 Wall Art

            .col.s12.m6.l4.no-padding.artmenuitem
                a(href="/artwork/canvas-painting")
                    .card.margin-tiny.hoverable
                        .card-image
                            img.dark(src='/images/homepage/canvas-painting.jpg')
                            span.card-title.shadow-text Canvas Paintings
                        //- .card-content
                            span.card-title.brown-text.text-darken-4 Canvas Paintings

            .col.s12.m6.l4.no-padding.artmenuitem
                a(href="/artwork/illustration")
                    .card.margin-tiny.hoverable
                        .card-image
                            img.dark(src='/images/homepage/illustration.jpg')
                            span.card-title.shadow-text Illustrations
                        //- .card-content
                            span.card-title.brown-text.text-darken-4 Illustrations


            .col.s12.m6.l4.no-padding.artmenuitem
                a(href="/artwork/line-art")
                    .card.margin-tiny.hoverable
                        .card-image
                            img.dark(src='/images/homepage/line-art.jpg')
                            span.card-title.shadow-text Line Art
                        //- .card-content
                            span.card-title.brown-text.text-darken-4 Line Art

            .col.s12.m6.l4.no-padding.artmenuitem
                a(href="/artwork/gift")
                    .card.margin-tiny.hoverable
                        .card-image
                            img.dark(src='/images/homepage/gift.jpg')
                            span.card-title.shadow-text Personalized Gifts
                        //- .card-content
                            span.card-title.brown-text.text-darken-4 Personalized Gifts

            .col.s12.m6.l4.no-padding.artmenuitem
                a(href="/contact")
                    .card.margin-tiny.hoverable
                        .card-image
                            img.dark(src='/images/homepage/contact.jpg')
                            span.card-title.shadow-text Contact Us
                        //- .card-content
                            span.card-title.brown-text.text-darken-4 Contact Us


    section.container#story.padded-bottom-cozy
        h3.center.light.edo Story

        p.center.flow-text.light We are a Team which brings together Alumni of Sir J J School of Art, Mumbai and Indian Institute of Science, Bangalore. Driven by our passion, we believe in doing our best to make stuff around us more creative and colorful! 
        p.center.flow-text.light We create Artworks to shape stories, thoughts, desires, purpose into aesthetic expressions. Our expertise consists of Murals (Wall Art) and Canvas Paintings, while we also execute other creations with same proficiency. We provide customized and personalized solutions for all your creative requirements.
        p.center.flow-text.light We believe that Art is in every HeArt, and this belief keeps us going! We are always ready to add colours to life! 


    section
        .parallax-container.valign-wrapper
            .parallax
                img(src="/images/wall-art/05.jpg")
                //- img.dark(src="/images/wall-art/05.jpg")
                //- .container.center
                    h4.light.center.white-text Fine art is that in which the hand, the head, and the heart of man go together.
                    h5.light.center.white-text John Ruskin


    //- section
        .parallax-container.valign-wrapper
            .parallax
                img.dark(src="/images/wall-art/03.jpg")
            .container.center
                h4.light.center.white-text What art offers is space: a certain breathing room for the spirit.
                h5.light.center.white-text John Updike



    section.padded-top-cozy.padded-bottom-cozy#testimonials
        h3.center.light.edo Testimonials

        .slider
            ul.slides.transparent
                li
                    img.hide(src="/images/office.jpg")
                    .caption.center-align
                        .card-panel.no-padding.no-overflow
                            .row.no-margin
                                .col.s12.red.lighten-3
                                    .flow-text.light.margined-compact "Mind blowing, awesome paintings done by Priyanka madam at my school! Very neat, clean and clear! I have not seen such nice, clean and perfect paintings created so fast over such a short span of time. #[br] Thank you Priyanka. Keep it up."

                                .col.s12
                                    .margined-compact
                                        h4.grey-text.text-darken-4 Balram Pandey 
                                        p.strong Little Millennium Preschool

                li
                    img.hide(src="/images/office.jpg")
                    .caption.center-align
                        .card-panel.no-padding.no-overflow
                            .row.no-margin
                                .col.s12.orange.lighten-3
                                    .flow-text.light.margined-compact "Fatastic! We are very happy about work quality. We also appreciate puctuality while working. Right from finalising quotation to finishing the painting task - all was very smooth. #[br] Best of luck. Keep delivering same quality."

                                .col.s12
                                    .margined-compact
                                        h4.grey-text.text-darken-4 Kiran Digrase
                                        p.strong Orange Juniors Preschool

                li
                    img.hide(src="/images/office.jpg")
                    .caption.center-align
                        .card-panel.no-padding.no-overflow
                            .row.no-margin
                                .col.s12.yellow.lighten-3
                                    .flow-text.light.margined-compact.grey-text "Mind blowing, awesome paintings done by Priyanka madam at my school! Very neat, clean and clear! I have not seen such nice, clean and perfect paintings created so fast over such a short span of time. #[br] Thank you Priyanka. Keep it up."

                                .col.s12
                                    .margined-compact
                                        h4.grey-text.text-darken-4 Tushar Joshi 
                                        p.strong Root Kings

                li
                    img.hide(src="/images/office.jpg")
                    .caption.center-align
                        .card-panel.no-padding.no-overflow
                            .row.no-margin
                                .col.s12.green.lighten-3
                                    .flow-text.light.margined-compact "Work quality is mersmerizing. #[br] Happy to the fullest All the best"

                                .col.s12
                                    .margined-compact
                                        h4.grey-text.text-darken-4 Krushn Dayshmookh
                                        p.strong Shiny Apps
                
                li
                    img.hide(src="/images/office.jpg")
                    .caption.center-align
                        .card-panel.no-padding.no-overflow
                            .row.no-margin
                                .col.s12.blue.lighten-3
                                    .flow-text.light.margined-compact "Fatastic! I am very happy about work quality. I also appreciate puctuality while working. Right from finalising quotation to finishing the painting task - all was very smooth. #[br] Best of luck. Keep delivering same quality."

                                .col.s12
                                    .margined-compact
                                        h4.grey-text.text-darken-4 Mrunalsingh Zire 
                                        p.strong Orange Inc

                li
                    img.hide(src="/images/office.jpg")
                    .caption.center-align
                        .card-panel.no-padding.no-overflow
                            .row.no-margin
                                .col.s12.indigo.lighten-3
                                    .flow-text.light.margined-compact "Wonderfull experience your design and art is too good. #[br] Thank you Priyanka. Keep it up."

                                .col.s12
                                    .margined-compact
                                        h4.grey-text.text-darken-4 Sahil Kindarle
                                        p.strong Sparc Associates

                







block scripts
    //- script(src="/js/lib/particles.min.js")
    script(src='/js/lib/jquery.min.js')
    script(src='/js/lib/imagesloaded.pkgd.min.js')
    script(src='/js/lib/masonry.pkgd.min.js')
    script(src="/js/init/story.js")
