extends components/layout.pug

block styles


block content
    

    section.section
        h3.light.brown-text.center In the media

        .container
            .row
                .col.s12
                    a(href="/documents/file.pdf")
                        .card-panel.rounded.hoverable
                            h4.light.brown-text Headline Headline
                            h5 Newspaper

            


block scripts