extends components/layout.pug

block styles

block content
    section.full-height.valign-wrapper
        
        .container
            .row
                .col.s12.m6.l4.offset-m3.offset-l4
                    .card-panel
                        h4.light.center.brown-text Login

        


block scripts
    
