extends components/layout.pug

block styles

block content
    section.full-height.valign-wrapper
        
        .container
                .row
                    .col.s12.m8.push-m2.l4.push-l4
                        .card.z-depth-2
                            .card-image.waves-effect.waves-block.waves-light
                                //- img.activator(src='/images/login.jpg', alt='background image')
                                img(src='/images/office.jpg', alt='background image')

                            .card-content
                                span.card-title.brown-text.text-darken-4 Log in
                                    //- i.material-icons.right close

                                form#login-form(method='post', action='/login')
                                    .row
                                        .input-field.col.s12
                                            input#username.validate(type='text', name='username')
                                            label(for='username') Username
                                        .input-field.col.s12
                                            input#password.validate(type='password', name='password')
                                            label(for='password') Password
                                        .col.s12
                                            button.btn.right.waves-effect.waves-light(type='submit') Log in
                                            a(href='#') Forgot password?


        


block scripts
    
