extends components/layout.pug

block styles

block content
    h4.light.teal-text.center Portfolio

    section#wall-art
        h5.light.teal-text.center Wall Art
        h6.light.teal-text.center Category 1
        .portfolio-list    
        
            img.portfolio-list-item(src="/images/office.jpg", alt="")
            img.portfolio-list-item(src="/images/office.jpg", alt="")
            img.portfolio-list-item(src="/images/office.jpg", alt="")
            img.portfolio-list-item(src="/images/office.jpg", alt="")
    
        h6.light.teal-text.center Category 2
        .portfolio-list    
        
            img.portfolio-list-item(src="/images/office.jpg", alt="")
            img.portfolio-list-item(src="/images/office.jpg", alt="")
            img.portfolio-list-item(src="/images/office.jpg", alt="")
            img.portfolio-list-item(src="/images/office.jpg", alt="")

    section.padded-comfortable
        .divider

    section#canvas-painting
        h5.light.teal-text.center Canvas Painting
        h6.light.teal-text.center Category 1
        .portfolio-list    
        
            img.portfolio-list-item(src="/images/office.jpg", alt="")
            img.portfolio-list-item(src="/images/office.jpg", alt="")
            img.portfolio-list-item(src="/images/office.jpg", alt="")
            img.portfolio-list-item(src="/images/office.jpg", alt="")
    
        h6.light.teal-text.center Category 2
        .portfolio-list    
        
            img.portfolio-list-item(src="/images/office.jpg", alt="")
            img.portfolio-list-item(src="/images/office.jpg", alt="")
            img.portfolio-list-item(src="/images/office.jpg", alt="")
            img.portfolio-list-item(src="/images/office.jpg", alt="")


block scripts
