extends components/layout.pug

block styles


block content
    h4.center Portfolio
    
    
    .portfolio-list    
        
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/wall-art/01.jpg", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/wall-art/02.jpg", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/wall-art/03.jpg", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/wall-art/04.jpg", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/wall-art/05.jpg", alt="")

    .divider.brown.lighten-4
    
    .padded-margined
    .portfolio-list    
        
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/wall-art/01.jpg", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/wall-art/02.jpg", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/wall-art/03.jpg", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/wall-art/04.jpg", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/wall-art/05.jpg", alt="")

    .divider.brown.lighten-4
    .portfolio-list    
        
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/wall-art/01.jpg", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/wall-art/02.jpg", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/wall-art/03.jpg", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/wall-art/04.jpg", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/wall-art/05.jpg", alt="")
    
    .divider.brown.lighten-4
    .portfolio-list    
        
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/wall-art/01.jpg", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/wall-art/02.jpg", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/wall-art/03.jpg", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/wall-art/04.jpg", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/wall-art/05.jpg", alt="")
    
    .divider.brown.lighten-4
    .portfolio-list    
        
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/wall-art/01.jpg", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/wall-art/02.jpg", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/wall-art/03.jpg", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/wall-art/04.jpg", alt="")
            a.portfolio-list-item(href="#!")
                img.materialboxed(src="/images/wall-art/05.jpg", alt="")



block scripts