extends components/layout.pug

block styles

block content
    h4.light.teal-text.center Services

    section#services.container
        .row
            .col.s12.m6
                a(href="/portfolio#wall-art")
                    .card.hoverable.rounded
                        .card-image
                            img(src="/images/wall-art/01.jpg", alt="")
                            span.card-title Wall Art
                        .card-content
                            p Some description

            .col.s12.m6
                a(href="/portfolio#canvas-painting")
                    .card.hoverable.rounded
                        .card-image
                            img(src="/images/canvas-painting/03.jpg", alt="")
                            span.card-title Canvas Painting
                        .card-content
                            p Some description


                    


block scripts
    