extends components/layout.pug

block styles


block content


    section.section
        h3.light.brown-text.center Testimonials

        .container
            .row
                .col.s12
                    .card-panel.no-padding.no-overflow
                        .row.no-margin
                            .col.s12.m8.red.lighten-3
                                .flow-text.light.margined-compact "Mind blowing, awesome paintings done by Priyanka madam at my school! Very neat, clean and clear! I have not seen such nice, clean and perfect paintings created so fast over such a short span of time. #[br] Thank you Priyanka. Keep it up."

                            .col.s12.m4
                                blockquote.margined-compact
                                    h4.grey-text.text-darken-4 Balram Pandey 
                                    p.strong Little Millennium Preschool


            .row
                .col.s12
                    .card-panel.no-padding.no-overflow
                        .row.no-margin
                            .col.s12.m8.push-m4.orange.lighten-3
                                .flow-text.light.margined-compact "Fatastic! We are very happy about work quality. We also appreciate puctuality while working. Right from finalising quotation to finishing the painting task - all was very smooth. #[br] Best of luck. Keep delivering same quality."

                            .col.s12.m4.pull-m8
                                blockquote.margined-compact
                                    h4.grey-text.text-darken-4 Kiran Digrase
                                    p.strong Orange Juniors Preschool


            .row
                .col.s12
                    .card-panel.no-padding.no-overflow
                        .row.no-margin
                            .col.s12.m8.red.lighten-3
                                .flow-text.light.margined-compact "Wonderfull experience thier design and art is too good #[br] Thank you Priyanka. Keep it up."

                            .col.s12.m4
                                blockquote.margined-compact
                                    h4.grey-text.text-darken-4 Tushar Joshi 
                                    p.strong Root Kings


            .row
                .col.s12
                    .card-panel.no-padding.no-overflow
                        .row.no-margin
                            .col.s12.m8.push-m4.orange.lighten-3
                                .flow-text.light.margined-compact "Fatastic! I am very happy about work quality. I also appreciate puctuality while working. Right from finalising quotation to finishing the painting task - all was very smooth. #[br] Best of luck. Keep delivering same quality."

                            .col.s12.m4.pull-m8
                                blockquote.margined-compact
                                    h4.grey-text.text-darken-4 Krushn Dayshmookh
                                    p.strong Root Kings


            .row
                .col.s12
                    .card-panel.no-padding.no-overflow
                        .row.no-margin
                            .col.s12.m8.red.lighten-3
                                .flow-text.light.margined-compact "The way you work, the flow the energy is the best quality of you di. #[br] Appreciate your work."

                            .col.s12.m4
                                blockquote.margined-compact
                                    h4.grey-text.text-darken-4 Ankita Belani 
                                    p.strong Little Millennium Preschool


            .row
                .col.s12
                    .card-panel.no-padding.no-overflow
                        .row.no-margin
                            .col.s12.m8.push-m4.orange.lighten-3
                                .flow-text.light.margined-compact "Illustrations are of just another level. #[br] Loved it Keep it up !!"

                            .col.s12.m4.pull-m8
                                blockquote.margined-compact
                                    h4.grey-text.text-darken-4 Mrunalsingh Zire
                                    p.strong Root Kings





block scripts